<ul class="nav flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="/login">Connexion</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="/passwords">Mes mots de passe</NavLink>
    </li>
</ul>
