@page "/passwords"
@inject PasswordManager.Web.Services.PasswordService PasswordService
@inject NavigationManager Nav
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h3>Vos Mots de Passe</h3>

@if (passwords == null)
{
    <p>Chargement...</p>
}
else
{
    <ul>
        @foreach (var password in passwords)
        {
            <li>@password.Title - @password.Username</li>
        }
    </ul>
}

@code {
    private List<PasswordManager.Web.Services.PasswordEntry>? passwords;

    protected override async Task OnInitializedAsync()
    {
       var token = await localStorage.GetItemAsync<string>("authToken"); // Utiliser GetItemAsync
        if (string.IsNullOrEmpty(token))
        {
            Nav.NavigateTo("/login");
            return;
        }

        passwords = await PasswordService.GetPasswords(token);
    }
}
